{% extends 'SnapRapidApiBundle:Emails:template.eml.twig' %}

{%- block subject -%}
    Snap Rapid: Reset Your Password
{%- endblock subject -%}

{% block content %}
    <p {% include 'SnapRapidApiBundle:Emails/Common:_headingStyles.html.twig' %}>
        Hi {{ user.firstName }},
    </p>
    <p {% include 'SnapRapidApiBundle:Emails/Common:_paraStyles.html.twig' %}>
        You have requested a password reset. Click on the link below and follow the instructions.
    </p>
    <p {% include 'SnapRapidApiBundle:Emails/Common:_linkParaStyles.html.twig' %}>
        <a href="{{ websiteUrl }}/reset-password/{{ user.passwordResetToken }}" {% include 'SnapRapidApiBundle:Emails/Common:_linkStyles.html.twig' %}>{{ websiteUrl }}/reset-password/{{ user.passwordResetToken }}</a>
    </p>
    {% include 'SnapRapidApiBundle:Emails/Common:_signOff.html.twig' %}
{% endblock %}
